.input-container {
  flex-direction: column;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden; 
}

.input-label {
  margin-left: 0.2rem;
  font-size: 14px;
  color: var(--text-primary);
  font-weight: 700;
}

.input-field {
  border: 1px solid color-mix(in srgb, var(--text-secondary), transparent 50%);
  border-radius: 6px;
  font-size: 14px;
  padding: 10px;

  min-width: 100%;
  box-sizing: border-box;
}
.input-field::placeholder{
  color: var(--text-secondary);
}

.input-field:focus {
  outline: none;
  border-color: var(--primary-hover);
}
