:root {
  /* Bordes y radios */
  --radius-circle: 50%;
  --radius-pill: 40rem;
  --radius-search: 8px;

 /* Fondos */
  --bg-base: #F7F8FC;      /* Fondo general */
  --bg-soft: #EBECF2;      /* Fondo secundario */
  --bg-cards: #ffffff;     /* Tarjetas y modales */

  /* Texto */
  --text-primary: #2A2E33;
  --text-secondary: #3F435D;

  /* Marca / Botones / Eventos */
  --primary: #1976c9;
  --primary-hover: #90c8ff;

  /* Estados */
  --success: #16a34a;
  --error: #dc2626;

  /* Sombra */
  --shadow: rgba(0,0,0,0.2);
}

/* ----------------- PALETA MORADA ----------------- */
.theme-purple {
  --bg-base: #140f2d;
  --bg-soft: #1e1b4b;
  --bg-cards: #140f2d;

  --text-primary: #f5f3ff;
  --text-secondary: #c4b5fd;

  --primary: #7c3aed;
  --primary-hover: #6d28d9;

  --success: #16a34a;
  --error: #dc2626;

  --shadow: rgba(0,0,0,0.2);
}