:root {
  /* Bordes y radios */
  --radius-circle: 50%;
  --radius-pill: 40rem;
  --radius-search: 8px;

  /* Fondos */
  --bg-base: #ECEFF4;
  --bg-soft: #D9DFE6;
  --bg-cards: #FFFFFF;

  /* Texto */
  --text-primary: #2E3A4C;
  --text-secondary: #5C6B7A;

  /* Marca / Botones / Eventos */
  --primary: #3B82C4;
  --primary-hover: #60A5FA;
  --secondary: #2563EB;
  --secondary-hover: #3B82F6;

  /* Estados */
  --success: #16A34A;
  --error: #DC2626;

  /* Mensajes */
  --msg-bg: 	#ccccff;
  --msg-text: #1B1F23;

  /* Sombra */
  --shadow: rgba(0,0,0,0.2);
}

/* ----------------- PALETA MORADA CORPORATIVA ----------------- */
.theme-purple {
  --bg-base: #1F1B2E;
  --bg-soft: #2C2A44;
  --bg-cards: #343054;

  --text-primary: #F5F3FF;
  --text-secondary: #C4B5FD;

  --primary: #7C3AED;
  --primary-hover: #9333EA;

  --secondary: #9333EA;
  --secondary-hover: #A78BFA;

  --success: #16A34A;
  --error: #DC2626;

  --msg-bg: #191970;
  --msg-text: #cbced0;

  --shadow: rgba(0,0,0,0.25);
}